*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  position: relative;

}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  width: 10;
  z-index: -3;
}
 

/*Nav*/

.header{
  position: absolute;
	width: 100%;
	height: 10%;
  display: flex;
  justify-content: space-between;
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0;
  align-items: center;
  position: relative;
  font-size: 15px;
  background-image: linear-gradient(to top, #31a09d7b 0%, #0e3f6988 100%);
}
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	height: auto;
	z-index: 1;
  justify-content: space-around;
}

.navegacion ul{
	list-style: none;
}
.navegacion ul li{
  margin: 0px 100px 0 0;
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #0ef0f0;
  text-decoration: none;
}
.navegacion ul li:hover .hijos{
	display: block;
}
.navegacion .submenu .hijos{
	display: none;
	background: #0a003ef8;
	position: absolute;
	width: 100%;
}
.navegacion .submenu .hijos li{
	display: block;
	/* overflow: hidden; */
	border-bottom: none;
}
.navegacion .submenu .hijos li a{
	display: block;
}

.logo{
  position: relative;
  padding-left: 2%;
}
.logo img{
  height: 70px;
  border-radius: 100%;
}
.logo img:hover{
	transform: scale(1.1);
}


/*SIMULADOR*/

.contenido{
  position: relative;
  height: 730px;
  width: 100%;
  text-align: center;
}

.contenido .text-contenido{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  height: 450px;
  width: 370px;
  margin-top: 450px;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to top, #31a09d7b 0%, #0e3f6988 100%);
  border-radius: 15px;
}

.title{
  color: rgba(255, 255, 255, 0.777);
  font-size: 13px;
  margin-top: 50px;
  width: 100%;
}

.botones{
  height: 260px;
  width: 310px;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin: 50px 50px 0 50px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.754);
}

label{
  margin: 50px 0 0 0;
  
}
.label-div{
  margin: 15px 50px 15px 0;
}

.botones .label-div input{
  color: black ;
  background-color: rgba(255, 255, 255, 0.826);
  border-radius: 5px;
  text-decoration: none; 
  border-style: none;
}


input[type="submit"] {
  margin-top: 10px;
  padding: 5px 10px;
}

input:hover[type="submit"] {
  background-color: rgba(30, 124, 122, 0.313);
}
  
#totalContainer {
  text-align: center;
  display: none;
  color: white;
}
  
#totalValue {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/*Footer*/

footer {
  background-image: linear-gradient(to top, #53ece744 0%, #22649e42 100%);
  padding: 20px;
  color: #f4f0f0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.Footer-container {
  max-width: 960px;
  margin: 0 auto;

}
.Footer-container img{
  height: 80px;
  border-radius: 100%;
  

}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #89bdcd;
  text-decoration: none;
  color: #f4f0f0;
}

a:hover {
  text-decoration: underline;
}
.footer-social img{
  width: 20px;
  height: 20px;
  z-index: 5;
}